<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Intelligent Task Manager</span>
      <div>
        <button mat-raised-button color="accent">
            Today
          </button>
          <button mat-raised-button color="accent">
            Tomorrow's Tasks
          </button>
          <button mat-raised-button color="accent">
            Create New Tasks
          </button>
          <button mat-raised-button color="accent">
            Completed Tasks
          </button>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
      </div>
      

    </mat-toolbar>
  </p>

